@tailwind base;
@tailwind components;
@tailwind utilities;

*html,
body {
  height: 100%;
  margin: 0;
  /*overflow: hidden;*/
}

* {
  background-color: #0c0c0c;
  color: white;
}

.header-link:hover {
    color: rgb(255, 232, 127);
    border-bottom: 2px solid rgb(255, 224, 86);
}
