@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    background-color: #0c0c0c;
    color: white;
}

.header-link:hover {
    color: rgb(255, 232, 127);
    border-bottom: 2px solid rgb(255, 224, 86);
}